*{
color:#141414;
text-align: left;
line-height: 2.0;
font-family: Verdana, Lucida,Georgia;
max-width: 100%;
}
h1{
color: #666666;
text-align: center;
font-size:40px;
font-weight:bold;
}
