{% extends "quaker_motus/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
 <h1>Welcome to Motus</h1>
  <p>This application is designed to help calculate ground motion acceleration due to Earthquakes in the Western United states.</p>
<p></p>
  <p> Click on the Map tab to get started!</p>
<br>

<p>This app is created by the Quakers: Jeff Derricott and Hart Henrichsen with special help from Sherry Qiao. </p>
<p>Thank you Sherry!!!</p>
{% endblock %}

{% block app_actions %}
  
{% endblock %}
