{% extends "quaker_motus/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
 <h1>Welcome to Motus</h1>
  <p>This application is designed to help calculate ground motion acceleration due to Earthquakes in the Western United states.
      To do so, click anywhere in the wester United States. When prompted, click the calculate PHA button. The 100%, 80%, and 50% PHA will be automatically be updated.</p>
  <p> Click on the next tab to get started.</p>
<br>
<p>This app is created by the Quakers: Jeff Derricott and Hart Henrichsen with special help from Sherry Qiao. </p>
{% endblock %}

{% block app_actions %}
  
{% endblock %}
