{% extends "quaker_motus//base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}

<style>
   #viewDiv {
   padding: 0;
   margin: 0;
    max-height:100%;
    max-width:100%;
    height:85vh;

  }
  #inner-app-content{
  height:90vh;
  width=100%;

  }
  #loadingAnimation{
 position:fixed;
    top: 50%;
    left: 50%;
    width: 25px;
    height:25px;
    margin-top: -13px; /*set to a negative number 1/2 of your height*/
    margin-left: -13px; /*set to a negative number 1/2 of your width*/

  }
</style>

<link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
<script src="https://js.arcgis.com/4.6/"></script>
<script>
require(["esri/Map","esri/layers/GraphicsLayer","esri/Graphic","esri/geometry/Point","esri/tasks/Geoprocessor","esri/tasks/support/LinearUnit","esri/tasks/support/FeatureSet","esri/views/MapView",  "dojo/domReady!"
], function(Map, GraphicsLayer, Graphic, Point, Geoprocessor, LinearUnit, FeatureSet, MapView){


var loading= document.getElementById("Loading");

	//a map with basemap
	var map = new Map({
    basemap: "streets"
	});

    //a graphics layer to show input point and output polygon
    var graphicsLayer = new GraphicsLayer();
    map.add(graphicsLayer);

    var view = new MapView({
    container: "viewDiv",
    map: map,
	center: [-111.1, 39.1],
	zoom: 6
    });

	// symbol for input point
	var markerSymbol = {
          type: "simple-marker", // autocasts as new SimpleMarkerSymbol()
          color: [255, 0, 0],
          outline: { // autocasts as new SimpleLineSymbol()
            color: [255, 255, 255],
            width: 2
          }
        };

	// symbol for buffered polygon
    var fillSymbol = {
          type: "simple-fill", // autocasts as new SimpleFillSymbol()
          color: [226, 19, 4, 0.75],
          outline: { // autocasts as new SimpleLineSymbol()
            color: [255, 255, 255],
            width: 1
          }
        };



	// Geoprocessing service url
	var gpUrl = "http://geoserver2.byu.edu/arcgis/rest/services/emily/BufferService/GPServer/Buffer%20Service";

    // create a new Geoprocessor
	var gp = new Geoprocessor(gpUrl);
	// define output spatial reference
    gp.outSpatialReference = { // autocasts as new SpatialReference()
          wkid: 102100 //EPSG3857
        };
	//add map click function

	view.on("click",startLoad);
    view.on("click", bufferPoint);

	//main function
    function bufferPoint(event) {

          graphicsLayer.removeAll();
          var point = new Point({
            longitude: event.mapPoint.longitude,
            latitude: event.mapPoint.latitude
          });
          var inputGraphic = new Graphic({
            geometry: point,
            symbol: markerSymbol
          });
          graphicsLayer.add(inputGraphic);
          var inputGraphicContainer = [];
          inputGraphicContainer.push(inputGraphic);
          var featureSet = new FeatureSet();
          featureSet.features = inputGraphicContainer;
          var bfDistance = new LinearUnit();
          bfDistance.distance = 100;
          bfDistance.units = "miles";

		  // input parameters
          var params = {
            "Input_Features": featureSet,
            "Distance": bfDistance
          };
          gp.submitJob(params).then(completeCallback, errBack, statusCallback);
    }

	function completeCallback(result){

        gp.getResultData(result.jobId, "Output_Polygons").then(drawResult, drawResultErrBack);

	}

	function drawResult(data){
	    var polygon_feature = data.value.features[0];
		polygon_feature.symbol = fillSymbol;
		graphicsLayer.add(polygon_feature);
		endLoad(data); /////////////////end loading animation
	}

	function drawResultErrBack(err) {
        console.log("draw result error: ", err);
    }

	function statusCallback(data) {
        console.log(data.jobStatus);

    }
    function errBack(err) {
        console.log("gp error: ", err);
    }




    function startLoad(graphic){
    loading.innerHTML= "<img id='loadingAnimation' src='../../../static/quaker_motus/images/loading.gif'>";
    }
    function endLoad(graphic){
    loading.innerText="";
    }



});
</script>

<div id="viewDiv" style="min-width:100%;min height: 200%;"></div>
<div id="Loading"></div>
  <p>Click to make a popup box</p>
{% endblock %}



{% block app_actions %}

{% endblock %}