{% extends "quaker_motus/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
 <h1>Proposal</h1>
<embed src='/quaker_motus/images/proposal.pdf' width="800px" height="2100px" />
{% endblock %}

{% block app_actions %}
  
{% endblock %}
